.nav {
	left:0;
	top:0;
	right:0;
	position: fixed;
	width:auto;
	height:50px;
	margin-left:auto;
	margin-right:auto;
    background:#3d414d;
	color:white;
    z-index: 1;
	font-size: 17px;
	margin:0px;
}
.menu {
	display:inline-block;
	text-align:center;
	line-height:50px;
	width:170px;
	height:50px;
	margin-left:20px;
	margin-right:20px;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}
.image-container {
  position: relative;
}

.image-container img {
  height: auto;
  position: absolute;
  padding-left: 8px;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.image-container .hover-image {
  opacity: 0; /* 호버 전에는 두 번째 이미지를 숨김 */
}

.image-container:hover .default-image {
  opacity: 0; /* 호버 시 기본 이미지를 숨김 */
}

.image-container:hover .hover-image {
  opacity: 1; /* 호버 시 두 번째 이미지를 보이게 함 */
}
body { 
	margin: 0 auto;
}
body, table, div, p{ font-family: 'GyeonggiTitleM', sans-serif; }
.menu:hover {
	background:#72798f;
	color:white;
	cursor:pointer;
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}