.nav {
	width:1920px;
	margin-left:auto;
	margin-right:auto;
	background:#444343;
	color:white;
	margin:0px;
}
.menu {
	display:inline-block;
	background:#444343;
	text-align:center;
	line-height:50px;
	width:150px;
	height:50px;
	margin-left:20px;
	margin-right:20px;
}
body { 
	margin:0px;
}
.menu:hover {
	background:#979797;
	color:white;
	cursor:pointer;
}
