.nav {
	left:0;
	top:0;
	right:0;
	position: fixed;
	width:auto;
	margin-left:auto;
	margin-right:auto;
    background:#3d414d;
	color:white;
    z-index: 1;
	font-size: 17px;
	margin:0px;
}
.menu {
	display:inline-block;
	text-align:center;
	line-height:50px;
	width:170px;
	height:50px;
	margin-left:20px;
	margin-right:20px;
	
}
body { 
	margin: 0 auto;
}
body, table, div, p{ font-family: 'Nanum Gothic', sans-serif; }
.menu:hover {
	background:#72798f;
	color:white;
	cursor:pointer;
}
