
@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
span{ font-family: 'Noto Sans KR', sans-serif; }
body, table, div, p{ font-family: 'GyeonggiTitleM', sans-serif; }
.test_box{display:table;width:800px;background:#c9eafa;padding:10px;}

.tr{display:table-row;width:270px;}

.td{display:table-cell; vertical-align:middle;}

.txt{width:500px; font-size:30px; text-align:center; font-weight: bold; }

.txt1{width:500px; font-size:28px; text-align:left; font-weight: bold; padding-left:160px; }

html{
background-image:url("../images/background.jpg");
}
body {
width: 1200px;
  background-color: rgba(255, 255, 255, 0.60);
  height:100%;
}
  .scroll {
    overflow: hidden;
  }

.sa {

  opacity: 0;
  animation-name: sa;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.one {
  animation-delay: 0.5s;
}

.two {
  animation-delay: 1s;
}

.three {
  animation-delay: 1.5s;
}

.four {
  animation-delay: 2s;
}

@keyframes sa {
  0% {
    opacity: 0;
  }
  33.33% {
    opacity: 1;
  }
  66.66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.sa1 {
		opacity: 0;
        transition: all .5s ease;
    }


.sa1-up {
        transform: translate(0, 100px);
       }
.sa1.show {
        opacity: 1;
        transform: none;
      }
.moveTop {
background-image:url("../images/topButton.png");
z-index: 1;
position:fixed;
width: 41px;
height: 40px;
bottom: 20px;
right: 20px;
cursor:pointer;
}
.moveTop:hover{
background-image:url("../images/topButton_hover.png");
}
.moveBot {
background-image:url("../images/botButton.png");
z-index: 1;
position:fixed;
width: 41px;
height: 40px;
bottom: 20px;
right: 65px;
cursor:pointer;
}
.moveBot:hover{
background-image:url("../images/botButton_hover.png");
}

.rankTxt{
position: relative;
}
.rankTxt::after {
  content: '';
  width: 0%;
  left: 50%;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 2px solid ${ uma.color_tag };
  transition:all .3s ease;
}
.rankTxt:hover::after {
  content: '';
  width: 100%;
  left: 0px;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 2px solid ${ uma.color_tag };
  transition:all .3s ease;
}
