<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.member.model.dao.MemberMapper">

	<resultMap id="memberResultSet" type="MemberDTO">
		<id column="MEMBER_NO" property="no" />
		<result column="MEMBER_ID" property="id" />
		<result column="MEMBER_PWD" property="pwd" />
		<result column="MEMBER_NAME" property="name" />
		<result column="EMAIL" property="email" />
		<result column="BIRTHDAY" property="birthDay" />
		<result column="GENDER" property="gender" />
		<result column="PHONE" property="phone" />
		<result column="ADDRESS" property="address" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="MODIFY_DATE" property="modifyDate" />
		<result column="MEMBER_ROLE" property="role" />
		<result column="STATUS" property="status" />
	</resultMap>
	
	<insert id="insertMember" parameterType="MemberDTO">
        INSERT 
          INTO TBL_MEMBER A
        (
          A.MEMBER_NO, A.MEMBER_ID, A.MEMBER_PWD
        , A.MEMBER_NAME, A.EMAIL, A.BIRTHDAY
        , A.GENDER, A.PHONE, A.ADDRESS
        ) 
		VALUES
		(
		  SEQ_MEMBER_NO.NEXTVAL, #{ id }, #{ pwd }
		, #{ name }, #{ email }, #{ birthDay }
		, #{ gender }, #{ phone }, #{ address }
		)
	</insert>
	
	<select id="selectEncPassword" resultType="java.lang.String" parameterType="MemberDTO">
        SELECT 
               A.MEMBER_PWD 
          FROM TBL_MEMBER A 
         WHERE A.MEMBER_ID = #{id} 
           AND A.STATUS='Y'
	</select>
	
	<select id="selectMember" resultMap="memberResultSet" parameterType="MemberDTO">
        SELECT 
               A.MEMBER_NO
             , A.MEMBER_ID
             , A.MEMBER_NAME
             , A.EMAIL
             , A.BIRTHDAY
             , A.GENDER
             , A.PHONE
             , A.ADDRESS
             , A.ENROLL_DATE
             , A.MODIFY_DATE
             , A.MEMBER_ROLE
             , A.STATUS
          FROM TBL_MEMBER A 
         WHERE A.MEMBER_ID = #{id} 
           AND A.STATUS='Y'
	</select>
	
</mapper>