<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.member.model.dao.UmaMapper">

	<resultMap id="umaResultSet" type="UmaDTO">
		<id column="UMA_CODE" property="uma_code" />
		<result column="UMA_NAME" property="uma_name" />
		<result column="UMA_HEIGHT" property="height" />
		<result column="UMA_WEIGHT" property="weight" />
		<result column="THREE_B" property="three_b" />
		<result column="THREE_W" property="three_w" />
		<result column="THREE_H" property="three_h" />
		<result column="BIRTH_DAY" property="birth_day" />
		<result column="UMA_VOICE" property="uma_voice" />
		<result column="UMA_CONTENT" property="uma_content" />
		<result column="UMA_TAG" property="uma_tag" />
	</resultMap>

	<resultMap id="pixivResultSet" type="PixivDTO">
		<id column="UMA_CODE" property="uma_code" />
		<result column="UMA_NAME" property="uma_name" />
		<result column="UPLOAD_DATE" property="upload_date" />
		<result column="PIXIV_AUTHOR" property="author" />
		<result column="PIC_ID" property="pic_id" />
		<result column="RANKING" property="pixiv_rank" />
		<result column="COUNT" property="pixiv_count" />
		
	</resultMap>

	<select id="selectUma" resultMap="umaResultSet" parameterType="UmaDTO">
        SELECT 
		    UMA_CODE,
		    UMA_NAME,
		    UMA_HEIGHT,
		    UMA_WEIGHT,
		    THREE_B,
		    THREE_W,
		    THREE_H,
		    BIRTH_DAY,
		    UMA_VOICE,
		    UMA_CONTENT,
		    UMA_TAG
			FROM UMA_DATA
	</select>
	
	<select id="selectUmaDetail" resultMap="umaResultSet" parameterType="UmaDTO">
        SELECT 
		    UMA_CODE,
		    UMA_NAME,
		    UMA_HEIGHT,
		    UMA_WEIGHT,
		    THREE_B,
		    THREE_W,
		    THREE_H,
		    BIRTH_DAY,
		    UMA_VOICE,
		    UMA_CONTENT,
		    UMA_TAG
			FROM UMA_DATA
			WHERE UMA_CODE = #{uma_code}
	</select>
	
	<insert id="insertPixiv" parameterType="PixivDTO">
		INSERT 
	  INTO PIXIV_DATA
	    (UMA_CODE
	    ,UPLOAD_DATE
	    ,PIXIV_AUTHOR
	    ,PIC_ID
	    )
    SELECT
	    #{uma_code}
	    ,#{upload_date} <!-- date는 알아서 변환해서 넣어준다  -->
	    ,#{author}
	    ,#{pic_id}
    FROM DUAL
    
    WHERE NOT EXISTS
    (
    SELECT
    UMA_CODE,
    PIC_ID
    FROM
    PIXIV_DATA
    WHERE
    UMA_CODE = #{uma_code}
    AND
    PIC_ID = #{pic_id}
    
    )
	    
	 
    
	  </insert>	
	  
	  
	<select id="selectPixivRank" resultMap="pixivResultSet" parameterType="PixivDTO">
        SELECT
    	B.UMA_CODE  ,
	    B.UMA_NAME  ,
	    RANK() OVER(ORDER BY COUNT(CASE WHEN TO_CHAR(UPLOAD_DATE,'YY/MM/DD') = TO_CHAR(SYSDATE,'YY/MM/DD') THEN 1 END) DESC) AS RANKING,
	    COUNT(CASE WHEN TO_CHAR(UPLOAD_DATE,'YY/MM/DD') = TO_CHAR(SYSDATE,'YY/MM/DD') THEN 1 END) AS COUNT
	    FROM PIXIV_DATA A
	    JOIN UMA_DATA B ON( A.UMA_CODE = B.UMA_CODE )
	    GROUP by B.UMA_NAME, B.UMA_CODE
	</select>
	
	<select id="selectDailyBest" resultMap="pixivResultSet" parameterType="PixivDTO">
        SELECT
	    UMA_CODE
	    ,UMA_NAME
	    ,COUNT
	    ,RANKING
	    FROM (
	    SELECT
	    B.UMA_NAME,
	    B.UMA_CODE
	    , RANK() OVER(ORDER BY COUNT(CASE WHEN TO_CHAR(UPLOAD_DATE,'YY/MM/DD') = TO_CHAR(SYSDATE,'YY/MM/DD') THEN 1 END) DESC) AS RANKING
	    , COUNT(CASE WHEN TO_CHAR(UPLOAD_DATE,'YY/MM/DD') = TO_CHAR(SYSDATE,'YY/MM/DD') THEN 1 END) AS COUNT
	    FROM pixiv_data a
	    JOIN UMA_DATA B ON( A.UMA_CODE = B.UMA_CODE )
	    group by b.UMA_CODE, B.UMA_NAME
	    
	    )
	    WHERE RANKING=1
	</select>  
	
	
	<select id="selectPixivWeekRank" resultMap="pixivResultSet" parameterType="PixivDTO">
        SELECT
    	B.UMA_CODE  ,
	    B.UMA_NAME  ,
	    RANK() OVER(ORDER BY COUNT(CASE WHEN TO_CHAR(UPLOAD_DATE,'YY/MM/DD') BETWEEN TO_CHAR(SYSDATE-#{date},'YY/MM/DD') AND TO_CHAR(SYSDATE,'YY/MM/DD') THEN 1 END) DESC) AS RANKING,
	    COUNT(CASE WHEN TO_CHAR(UPLOAD_DATE,'YY/MM/DD') BETWEEN TO_CHAR(SYSDATE-#{date},'YY/MM/DD') AND TO_CHAR(SYSDATE,'YY/MM/DD') THEN 1 END) AS COUNT
	    FROM PIXIV_DATA A
	    JOIN UMA_DATA B ON( A.UMA_CODE = B.UMA_CODE )
	    GROUP by B.UMA_NAME, B.UMA_CODE
	</select>  

	<select id="selectPixivMonthRank" resultMap="pixivResultSet" parameterType="PixivDTO">
        SELECT
    	B.UMA_CODE  ,
	    B.UMA_NAME  ,
	    RANK() OVER(ORDER BY COUNT(CASE WHEN TO_CHAR(UPLOAD_DATE,'YY/MM') = TO_CHAR(SYSDATE,'YY/MM') THEN 1 END) DESC) AS RANKING,
	    COUNT(CASE WHEN TO_CHAR(UPLOAD_DATE,'YY/MM') = TO_CHAR(SYSDATE,'YY/MM') THEN 1 END) AS COUNT
	    FROM PIXIV_DATA A
	    JOIN UMA_DATA B ON( A.UMA_CODE = B.UMA_CODE )
	    GROUP by B.UMA_NAME, B.UMA_CODE
	</select>
</mapper>